.icon {
  color: white;
  font-size: 1.5em;
  padding: 1.5rem 0.4rem 0.4rem 0.4rem;
}

.icon:hover {
  font-size: 2em;
  padding: 1rem 0.3rem 0.3rem 0.3rem;
}

.nav-item:hover {
  background-color: #198754;
  border-radius: 5px;
}

.center-img {
  max-width: 30%;
  min-width: 100px;
  border-radius: 50%;
}

.is-justify-content-center {
  display: flex;
  justify-content: center;
}
